body {
	color: #FF0000;
	font-family: "Helvetica", "Arial", sans-serif;
	/*box-shadow: 2px 2px 5px grey;*/
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: normal; /* Add this */
}
/*car {
	box-shadow: 2px 2px 5px grey;
}*/